.btn {
    background-color: blue;
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
}


.btn_var {
    background-color: rgb(255, 187, 0);
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;

}