* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  text-align: left;
  padding: 1rem;
}

.container {
  width: 80%;
  margin: auto;
}

.buttons {
  padding: 1rem 0rem;
  display: flex;
}